[user]
	email = carl.frendin@gmail.com
	name = Carl Frendin
[core]
	editor = vim
[push]
	default = simple
[alias] #Taken from https://githowto.com/aliases
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p

